registry=https://registry.npmmirror.com
# registry = https://registry.npmjs.org
use-node-version=23.8.0
shamefully-hoist=true
# strict-peer-dependencies=false
# side-effects-cache=false
# shell-emulator=true
